.text-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border: 1px solid chocolate;


  .selected-item {
    border: 1px solid chocolate;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: chocolate;
    color: white;
    font-weight: bold;
  }

  input {
    border: 0;
    &:focus {
      border: 0;
      box-shadow: none;
      outline: none;
    }
  }
}

li {
  background-color: aquamarine;
  border: 1px solid chocolate;
  text-align: center;

  &:hover {
    background-color: slateblue;
    color: white;
    cursor: pointer;
  }
}
